# This is the draft for assignment 3 HW3
# Just mess it up and write everything you have thought of the problem

In [2]:
import pylab as pl
import pandas as pd
import numpy as np
%pylab inline
import os
import json
s = json.load( open(os.getenv ('PUI2015')+"/fbb_matplotlibrc.json") )
pl.rcParams.update(s)

Populating the interactive namespace from numpy and matplotlib

In [3]:
df=pd.read_csv(os.getenv ('PUI2015')+'/data/201508-citibike-tripdata.csv')
df['date'] = pd.to_datetime(df['starttime'])

In [5]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,1202,8/1/2015 00:00:04,8/1/2015 00:20:07,168,W 18 St & 6 Ave,40.739713,-73.994564,385,E 55 St & 2 Ave,40.757973,-73.966033,23253,Subscriber,1987,1,2015-08-01 00:00:04
1,301,8/1/2015 00:00:05,8/1/2015 00:05:06,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,22675,Subscriber,1951,2,2015-08-01 00:00:05
2,431,8/1/2015 00:00:06,8/1/2015 00:07:18,312,Allen St & E Houston St,40.722055,-73.989111,296,Division St & Bowery,40.714131,-73.997047,19831,Subscriber,1985,1,2015-08-01 00:00:06
3,273,8/1/2015 00:00:09,8/1/2015 00:04:43,382,University Pl & E 14 St,40.734927,-73.992005,229,Great Jones St,40.727434,-73.993790,22765,Subscriber,1975,1,2015-08-01 00:00:09
4,1256,8/1/2015 00:00:17,8/1/2015 00:21:13,352,W 56 St & 6 Ave,40.763406,-73.977225,432,E 7 St & Avenue A,40.726218,-73.983799,22127,Subscriber,1978,1,2015-08-01 00:00:17

In [42]:
import collections
count=collections.Counter(df['start station id'])
st=pd.DataFrame.from_dict(count,orient='index')

In [75]:
#grouped=df.groupby('bikeid')
#print df[df['bikeid']==14529]['tripduration']

7346         201
42471       2064
45548       1224
54013        168
58063        219
59230       1799
60705       2993
66081        709
113776       638
114625       315
119596       419
126987      1448
129652       330
132106       507
133051       506
133955       889
149452       546
154251       317
159005       839
188603       413
190839       439
206353       486
211680       687
238133      1320
239324       515
272025       482
277374       293
279374       352
282026       246
282451       760
           ...
350547       611
366335       174
367127       905
377140       331
393314       379
394968       668
396087       265
397857       777
625301       624
626562       870
630751       598
631303       660
631869       907
632731       283
634851       377
635672      1528
646193       218
647118      1070
670281      2074
690741      1693
692963       617
705913       261
706714      1373
708682    176698
791215      1195
792242       458
794590      1260
798216       513
819577      1813
972705      1962
Name: tripduration, dtype: int64

In [56]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.reverse("40.739713, -73.994564")
print(location.address)
print((location.latitude, location.longitude))

Citi Bike - W 18 St & 6 Ave, West 18th Street, Chelsea, New York County, NYC, New York, 10011, United States of America
(40.739713, -73.994564)

In [67]:
print(location.raw['address']['county'])

New York County